/*--------------------------------------css reset-----------------------------------------------*/
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td,blockquote,address,pre{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;vertical-align:middle;}
ul,dl,ol{list-style:none;}
img,fieldset{border:none;}
img{display:inline-block;overflow:hidden;vertical-align:top;}
em,address{font-style:normal;}
sup,sub{vertical-align:baseline;}
table{border-collapse:collapse;border-spacing:0;}
q:before{content:"";}
q:after{content:"";}
button{cursor:pointer;}
textarea{word-wrap:break-word;resize:none;}

/*---------------------------------------全局模块----------------------------------------------*/
.menu,.menu span,.menu-on,.menu-on span,.status-arrow,.list-top,.list-bottom,.btn,.btn button,.back-btn,.box .box-tl,.box .box-tr,.box .box-bl,.box .box-br,.box-btn-ok,.box-btn-cannel,.box-close,.employee .menu,.employee .menu span,.employee .menu-on,.employee .menu-on span,.new-tips,.employee .menu-border-top,.employee .menu-border-bottom,.liimg,.note .close,.news-icon,.gift-duihuan{background:url(license/images/elt.png) no-repeat;}
.sidebar .title,.cutline,.footer-line,.employee .footer .footer-wrap,.employee .menu-nav{background:url(license/images/elt_repeat.png) repeat-x;}

body{background-color:#fff;color:#333333;font:12px/1.5 Tahoma, Arial, simsun;min-width:960px;}
a{color:#565656;text-decoration:none;}
a:hover{color:#010DFF;text-decoration:underline;}
.clearfix:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.clearfix{\*zoom:1;}
.newa{color:#565656;text-decoration:none;padding-left: 6px;padding-right: 6px;}
.newa:hover{color:#010DFF;text-decoration:none;cursor:pointer;}


.staffa:hover{cursor:pointer;}

/*menu*/
.menu{background-position:-194px -29px;padding-left:5px;display:inline-block;}
.menu:hover{text-decoration:none;}
.menu span{background-position:right -29px;padding:0 15px;display:inline-block;height:28px;line-height:28px;color:#555555;font-size:14px;cursor:pointer;white-space:nowrap;}
.menu-on,.menu:hover{background-position:-194px 0;}
.menu-on span,.menu:hover span{background-position:right 0;color:#FFFFFF;}
 
/*status-arrow*/
.status-arrow{width:10px;height:8px;display:inline-block;cursor:pointer;}
.arrow-up{background-position:-199px -83px;}
.arrow-down{background-position:-209px -83px;}

/*button*/
.btn{background-position:-194px -58px;padding-left:5px;display:inline-block;}
.btn button{background-position:right -58px;border:none;overflow:visible;padding:0 10px 0 5px;display:inline-block;height:25px;line-height:25px;color:#FFFFFF;}
.back-btn{background-position:0 -90px;display:block;width:69px;height:25px;line-height:25px;padding-left:25px;color:#666666;}
.back-btn:hover{text-decoration:none;color:#666666;}

/*form*/
.form .form-line:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.form .form-line{margin-bottom:0px;\*zoom:1;}
.form .form-line .label{float:left;width:15%;text-align:right;vertical-align:middle;padding:6px 0;background-color:#e5e5e5;}
.form .form-line .element{float:right;width:84%;text-align:left;padding:5px 0;}
.form .select{border:1px solid #CCCCCC;width:120px;height:22px;}
.form .short-text{height:18px;width:30px;border:1px solid #CCCCCC;}
.form .text{height:22px;width:200px;border:1px solid #CCCCCC;}
.form .long-text{width:371px;}
.form .textarea{width:420px;height:50px;border:1px solid #CCCCCC;}
.form .form-line-btn{margin-top:0px;}
.form .eline{margin-bottom:10px;}
.form .line-info{color:#999999;}
.form .eline .line-info{padding-left:50px;display:block;}
.form .err-info{padding-left:10px;color:#FF6666;}
.form .gray{color:#999999;}

/*table*/
.table caption{display:none;}
.table table{width:100%;}
.table table,.table td,.table th{border:1px solid #DDDDDD;text-align:center;}
.table td,.table th{padding:10px 0;}
.table th{background-color:#CCCCCC;font-size:12px;font-weight:normal;color:#666666;}

/*pager*/
.pager:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.pager{margin-top:15px;color:#569B01;\*zoom:1;}
.pager .pager-left{float:left;width:20%;color:green;}
.pager .pager-right{float:right;text-align:right;}
.pager .pager-right a{border:1px solid #C7C7C7;padding:2px 8px;color:#569B01;display:inline-block;vertical-align:middle;text-decoration:none;margin-right:5px;}
.pager .pager-right a:hover{text-decoration:none;background-color:#569B01;color:#FFFFFF;}
.pager .pager-right .edge{background-color:#E8E8E8}

/*-------------------------------------- 框架布局 --------------------------------------------------*/
.index{background-color:#E6E6E6;}
.head{position:relative;height:83px;overflow:hidden;background-color:#FFFFFF;}
.head .top-nav{background-color:#F4F4F4;padding:1px 0;margin-left:260px;}
.head .top-nav ul{float:left;}
.head .top-nav ul li{float:left;margin-right:1px;height:24px;line-height:24px;}
.head .top-nav ul li a{display:block;background-color:#E5E5E5;font-size:14px;padding:0 5px;color:#565656;text-decoration:none;}
.head .top-nav ul .on a{background-color:#5DA801;color:#FFFFFF;}
.head .top-nav .green{float:right;color:#975A03;height:24px;line-height:24px;padding-right:17px;}
.head .logo{width:255px;height:75px;overflow:hidden;position:relative;top:-24px;}
.head .nav{border-bottom:4px solid #4F8D02;padding-left:260px;position:relative;top:-50px;margin-right:-100px;}
.head .nav ul li{float:left;margin-right:10px;}

.content{position:relative;padding-top:2px;background-color:#FFFFFF;}
.content .sidebar{width:191px;overflow:hidden;position:absolute;top:2px;left:1px;border:1px solid #74944B;}
.content .sidebar .title{background-position:0 -3px;height:28px;line-height:28px;font-size:14px;font-weight:bold;color:#000000;padding-left:35px;position:relative;}
.content .sidebar .title .status-arrow{position:absolute;right:8px;top:10px;}
.list-top{background-position:-1px 0;width:191px;height:23px;border-left:1px solid #74944B;border-right:1px solid #74944B;margin-left:1px;}
.list-bottom{background-position:-1px -24px;width:191px;height:10px;border-left:1px solid #74944B;border-right:1px solid #74944B;margin-left:1px;}
.content .sidebar .list-content{background-color:#EAEAEA;overflow:auto;}
.content .sidebar .list-content li{margin-bottom:1px;}
.content .sidebar .list-content li a{display:block;padding:8px 0 8px 35px;\_zoom:1;background-color:#CCCCCC;color:#333333;text-decoration:none;}
.content .sidebar .list-content .selected a,.content .sidebar .list-content .selected a:hover{background-color:#75B528;color:#FFFFFF;}
.content .sidebar .list-content li a:hover{background-color:#ABAAAA;}
.content .frameContent{margin-left:195px;background-color:#F4F4F4;padding:8px 17px;\_zoom:1;}

.footer{background-color:#FFFFFF;}
.footer .footer-line{background-position:0 -33px;height:3px;}
.footer .footer-wrap{text-align:center;background-color:#E6E6E6;}
.footer .copyright{padding:10px 0;width:400px;text-align:left;margin:0 auto;color:#9E9E9E;}
.footer .copyright p{line-height:20px;}
/*-------------------------------------iframe页面------------------------------------------------------*/
.frame-wrap{background-color:#F4F4F4;width:99%;padding-top:15px; min-width: 1010px;}
.frame-wrap .breadcrumb-wrap:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.frame-wrap .breadcrumb-wrap{\*zoom:1;}
.frame-wrap .breadcrumb-left{float:left;width:50%;}
.frame-wrap .breadcrumb-right{float:right;width:70px;}
.frame-wrap .cutline{background-position:0 0;height:2px;display:block;margin:10px 0;}
.frame-wrap .query-wrap{background-color:#D8ECC1;border:1px solid #B8DA8E;padding:10px 15px;}
.frame-wrap .send-news{margin:10px 0;}
.frame-wrap .content-wrap{padding-top:0px;}

.dockbody{background-color:#fff;color:#333333;font:12px/1.5 Tahoma, Arial, simsun;min-width:1024px;}
.dockbody2{background-color:#fff;color:#333333;font:12px/1.5 Tahoma, Arial, simsun;min-width:1024px;overflow: auto;}


.reward-area{}
.reward-section{}
.reward-select{}
.reward-list{}
.reward-pslist{}
.imglink{}
/*-------------------------------------------- 员工天地 -----------------------------------------------------------------------------------------------------------*/

/*框架重置*/
.employee .head .nav{border-bottom:4px solid #055AB4;}
.employee .head .top-nav .green{color:#336699;}
.employee .head .top-nav ul .on a{background-color:#53A8DE;color:#ffffff;}
.employee .head .menu{background-position:-194px -120px;position:relative;}
.employee .head .menu span{background-position:right -120px;height:26px;line-height:26px;color:#4D4D4D;}
.employee .head .menu-on{background-position:-194px -147px;}
.employee .head .menu-on span{background-position:right -147px;color:#FFFFFF;}
.employee .head .menu .new-tips{background-position:0 -35px;display:block;width:26px;height:21px;line-height:17px;text-align:center;position:absolute;right:-8px;top:-8px;padding:0;}
.employee .footer .footer-wrap{background-position:0 -41px;}
.employee .footer .footer-line{background-position:0 -37px;height:3px;}

/*具体样式*/
.employee .menu-nav{background-position:0 -107px;width:259px;overflow:hidden;border:1px solid #AEAEAE;border-left:1px solid #ABCEE5;border-bottom:none;}
.employee .menu-nav h3{border-bottom:1px solid #055AB4;height:29px;line-height:29px;text-align:center;font-size:14px;}
.employee .menu-nav .menu-border-top{background-position:0 -174px;display:block;width:259px;height:12px;overflow:hidden;}
.employee .menu-nav .menu-border-bottom{background-position:0 -187px;\_background-position:0 -187px;display:block;width:259px;height:14px;overflow:hidden;\_zoom:1;\_margin-left:6px;}
.employee .menu-nav .menu-content{border-left:3px solid #ABCEE5;border-right:4px solid #ABCEE5;background-color:#F7F7F7;padding:10px 0;}

.employee .employee-info{margin:0 5px;}
.employee .employee-info img{border:1px solid #DBDBDB;padding:3px;background-color:#ffffff;float:left;width:74px;height:74px;overflow:hidden;}
.employee .employee-info .employee-ps-wrap{padding-bottom:10px;border-bottom:1px solid #DCDCDC;padding-left:10px;}
.employee .employee-info .employee-ps{float:left;width:100px;padding-left:12px;}
.employee .employee-info .employee-ps a{display:block;color:#356CA6;}
.employee .employee-info .employee-ps strong{padding-left:4px;font-size:14px;display:block;padding-bottom:5px;}
.employee .employee-info .employee-detail{clear:both;padding:10px 0 10px 10px;}
.employee .employee-info .employee-detail p{line-height:22px;}
.employee .color-orange{color:#FF6000;}
.employee .color-red{color:#FF0000;font-weight:bold;}

.employee .employee-menu{margin:0 2px;}
.employee .employee-menu li{margin-bottom:1px;}
.employee .employee-menu li a{background-color:#E8E8E8;display:block;height:32px;line-height:32px;\_height:25px;\_padding-top:7px;color:#356CA6;text-decoration:none;padding-left:45px;}
.employee .employee-menu li a:hover,.employee .employee-menu li.on a{text-decoration:none;background-color:#DBDBDB;color:#000000;font-weight:bold;}
.employee .employee-menu .liimg{background-position:-26px -35px;display:inline-block;width:5px;height:6px;vertical-align:middle;margin-right:2px;\_margin-top:5px;}

.employee .encash{margin-top:10px;}
.employee .encash h3{background-color:#ABCEE5;border:none;}
.employee .encash img{border:1px solid #999999;width:82px;height:62px;overflow:hidden;}
.employee .encash .gift{text-align:center;float:left;width:120px;margin-bottom:6px;}
.employee .encash .gift-list{padding-top:10px;}
.employee .encash .gift-list p .more{color:#336699;text-align:right;display:block;padding-right:10px;text-decoration:underline;}

/*内容区布局*/
.employee .content{position:relative;}
.employee .menu-nav{float:left;}
.employee .reward-area{width:200px;overflow:hidden;background-color:#F7F7F7;vertical-align:top;position:absolute;right:0;top:0;}
.employee .reward-section{border-top:1px solid #77A5D3;padding-top:1px;margin-bottom:20px;}
.employee .reward-section .reward-select li{float:left;width:100px;overflow:hidden;}
.employee .reward-section .reward-select li a{background-color:#F7F7F7;text-align:center;padding:7px 0;display:block;font-size:13px;overflow:hidden;}
.employee .reward-section .reward-select li.on a{background-color:#E4ECF1;font-weight:bold;}
.employee .reward-section .reward-list{background-color:#E4ECF1;padding:10px 5px 5px;clear:both;\*zoom:1;}
.employee .reward-section .reward-list li a{display:block;background-color:#F7F7F7;margin-bottom:1px;padding:7px 0 7px 60px;font-size:13px;color:#356CA6;text-decoration:none;\_overflow:hidden;\_zoom:1;}
.employee .reward-section .reward-list li.on a,.employee .reward-section .reward-list li a:hover{background-color:#E6E6E6;color:#000000;font-weight:bold;}
.employee .reward-section p{text-align:right;padding:0 5px 5px 0;background-color:#E4ECF1;}
.employee .reward-section p a{color:#8DB9FB}

.employee .reward-section .imglink{background-color:#F7F8F7;padding-bottom:5px;}
.employee .reward-section .imglink img{float:left;width:30px;height:29px;border:1px solid #DCCA69;margin:7px 5px 0 5px;}
.employee .reward-section .imglink div{float:left;width:147px;}
.employee .reward-section .imglink p{background-color:#F7F8F7;text-align:left;line-height:12px;padding:0 5px 0 0;}
.employee .reward-section .imglink p a{padding-left:0;font-size:12px;}
.employee .reward-section .reward-pslist li{margin-top:3px;}

.employee .content-wrap{background:url(license/images/employee_repeaty.png) repeat-y right top;margin-left:277px;}
.employee .content-wrap .content-info{margin-right:218px;position:relative;}

/*----------------------------------------- 员工主页面 -------------------------------------------------------*/
.employee .content-info .note{background-color:#FEFFF4;border:1px solid #D8D9D8;padding:6px 8px;color:#F03E59;position:relative;margin-bottom:10px;}
.employee .content-info .note .close{background-position:-32px -35px;width:8px;height:9px;position:absolute;right:8px;top:9px;cursor:pointer;}
.employee .content-info .broadcast{background-color:#E6E7E6;padding:8px;margin-bottom:10px;}
.employee .content-info .broadcast h3{text-align:center;color:#FE0100;margin-bottom:5px;}
.employee .content-info .news-select{background-color:#F1F2F1;text-align:right;padding:5px 0;color:#7A9BBA;padding-right:10px;}
.employee .content-info .news-select a{color:#7A9BBA;}
.employee .content-info .news-select span{color:#292A29;}

.employee .news-list .news{position:relative;padding:10px 0 5px 10px;border-bottom:1px solid #EDEEED;}
.employee .news-list .news .news-icon{background-position:-41px -35px;float:left;width:16px;height:13px;position:absolute;left:9px;top:14px;\_left:0px;}
.employee .news-list .news .news-info{margin:0 30px 0 20px;}
.employee .news-list .news .news-info a{color:#336CA4}
.employee .news-list .news .news-info strong{font-weight:normal;color:#346BA8;}
.employee .news-list .news .news-info p{padding-bottom:5px;}

/*----------------------------------------- 奖品商城 -------------------------------------------------------*/
.employee .content-info .breadcrumb{background-color:#ECECEC;color:#666666;padding:8px 10px;}
.employee .content-info .breadcrumb a{color:#666666;}
.employee .content-info .breadcrumb span{color:#FF6102;}

.employee .gift-wrap{background-color:#F6F6F6;padding:10px 17px;margin-top:10px;}
.employee .gift-wrap .shop-gift-list{margin-top:12px;overflow:hidden;margin-bottom:-26px;\*margin-bottom:0;\*padding-bottom:10px;\_zoom:1;\_position:relative;}
.employee .gift-wrap .shop-gift{border:1px solid #CCCCCC;padding:10px;width:180px;overflow:hidden;position:relative;background-color:#FFFFFF;float:left;margin:0 35px 35px 0;}
.employee .gift-wrap .shop-gift p{line-height:23px;}
.employee .gift-wrap .shop-gift img{width:180px;height:135px;overflow:hidden;}
.employee .gift-wrap .gift-name{margin-top:5px;font-size:14px;width:180px;height:22px;overflow:hidden;}
.employee .gift-wrap .limit-date{color:#999999;}
.employee .gift-wrap .gift-duihuan{background-position:-97px -35px;display:block;width:77px;height:23px;position:absolute;right:0;bottom:31px;cursor:pointer;}

.employee .pager{padding-bottom:10px;}
.employee .pager,.employee .pager a{color:#333333;}
.employee .pager a:hover{background-color:#707070;}

.remark{background-color:#F8F9FD;overflow:hidden;padding:15px;width:720px;}
.remark img{border:1px solid #CACACA;padding:2px;width:54px;height:54px;overflow:hidden;float:left;margin-right:10px;}
.remark .remark-info{float:left;width:650px;}
.remark .remark-info .remark-tool{text-align:right;margin-top:5px;}
.remark .textarea{width:638px;height:80px;border:1px solid #CBCBCB;padding:5px;overflow:auto;}
.remark .button{color:#FFFFFF;background-color:#0D63B8;padding:2px 8px;border:1px solid #7CD2FD;border-bottom:1px solid #2E5F77;border-right:1px solid #3C7D9C;}

.remark-list{background-color:#F8F9FD;overflow:hidden;padding:15px;width:720px;}
.remark-list .remark-list-info img{border:1px solid #CACACA;padding:2px;width:34px;height:34px;overflow:hidden;float:left;margin-right:10px;}
.remark-list .remark-list-info .remark-info-wrap{float:left;width:670px;color:#999999;overflow:hidden;}
.remark-list .remark-list-info .remark-info-wrap .remark-name{color:#356CA6;}
.remark-list .remark-list-info .remark-info-wrap .remark-content{color:#333333;}
.remark-list .remark-list-info .remark-info-wrap .remark-reply{margin-top:5px;}
.remark-list .remark-list-info .remark-info-wrap .remark-reply .remark-info-wrap{width:620px;}

.employee .remark-text{border:1px solid #C3C3C3;color:#C3C3C3;padding:3px 5px;width:738px;margin-top:10px;}



.panelClass table{width:100%}
