@external .submit,.verifyImage,.ipointer;

@sprite body{ gwt-image:"login_bg"; background-color:#ededed;}
@sprite #login{ width:500px; height:340px; margin:179px auto 0px auto; gwt-image:"login"; padding-top:150px; padding-left:150px; padding-right:140px;}
#login td.title{ font-family:Arial, Helvetica, sans-serif; color:#0c2c50; font-weight:bold; text-align:right; font-size:14px;}
#login td.intext{ font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; text-align:left; padding-left:5px; color:#FFF}
#login td.intext a{ color:#fff; text-decoration:none; font-size:12px;}
#login td.intext a:hover{ color:#fff; text-decoration:underline; font-size:12px;}
@sprite #login td.intext div{width:182px; height:24px; padding:0px 10px; gwt-image:"login_text";}
#login input{ width:182px; height:24px; line-height:22px; color:#444444; font-size:14px; border:none; background:none}
#login-role input{width: 24px;}
@sprite #inputText2 {width:100px; height:24px; padding:0px 10px; gwt-image:"input_text2";float: left;}
#inputText2 input{ width:100px; height:24px; line-height:22px; color:#444444; font-size:14px; border:none; background:none}
@sprite .submit{  width:100px; height:27px; line-height:27px; text-align:center; color:#0c2c50;font-weight:bold; font-size:14px; border:none; gwt-image:"login_sub"; margin-right:10px; cursor:pointer }
.verifyImage{ width: 50px; height:27px}
#login div.bottom{ font-size:12px; color:#666666; margin-top:110px;}
#tab td{padding-left:5px;}
.ipointer{cursor: pointer; text-decoration: underline;}
