@CHARSET "UTF-8";

@external .button-ok;

/*чбошод*/
@sprite .button-ok{ padding-left:10px;gwt-image:"button_ok"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:60px; height:22px; line-height:22px; cursor:pointer}

@sprite div.post{width:778px;height:26px; border-top:1px solid #9bb1be; padding:10px;gwt-image:"post_bg"; }