@CHARSET "UTF-8";

@external .button-ok,.button-back,.button-chose;

 /*确认*/
@sprite .button-ok{ padding-left:10px;gwt-image:"button_ok"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:60px; height:22px; line-height:22px; cursor:pointer}

/*取消*/
@sprite .button-back{ padding-left:10px;gwt-image:"button_back"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:60px; height:22px; line-height:22px; cursor:pointer}

/*选择*/
@sprite .button-chose{ padding-left:10px;gwt-image:"button_chose"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:60px; height:22px; line-height:22px; cursor:pointer}

@sprite div.post{width:778px;height:26px; border-top:1px solid #9bb1be; padding:10px;gwt-image:"post_bg"; }
.post button{ margin-left:15px;}