@CHARSET "UTF-8";

#fmdiv{ background-color:#FFF; border:1px solid #9bb1be; overflow-y:scroll; height:600px; width: 1400px;}
.fmtable{ width:97%; margin:5px auto; border:1px solid #ccccff; background-color:#f4f6f9;}
.fmtable td{color:#444; height:25px; padding:4px 0px; font-size:12px;}
.fmtable td.link{color:#444; height:25px; padding:4px 0px; font-size:12px; cursor: pointer;}